.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.btn-default{
    height:34px;
}
.btn-default :active{
    width:150px;
}

.robot-head{
    background-image: url("http://localhost:3000/images/head.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 16px;
    padding-top: 255px;
}

.robot-body{
    background-image: url("http://localhost:3000/images/body.png");
    background-repeat: no-repeat;
    padding-top: 1px;
    padding-bottom:10px;
    background-size: cover;
}

.robot-bottom{
    background-image: url("http://localhost:3000/images/bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
}

.form-control{
    width:149px;
}

#usrlimit{
    width:149px;
}
.form-inline{
    color:white;
}

.channel-option{
    width:150px;
}