<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
           getChannelOptions();

           $("#startbutton").click(function(e) {
            e.preventDefault();
            console.log($("#startbutton").html());
               if($("#startbutton").html().trim() == "TURN ON"){
                    $("#startbutton").prop('disabled', true);
                    $("#startbutton").html("TURN OFF");
                    getAssets();
                    $("#startbutton").prop('disabled', false);
               }else{
                    $("#startbutton").html("TURN ON");
                    getChannelOptions();
               }
                
               
                
            });
        });
        function getAssets(){
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/startbot",
                success: function(result) {
                    $('#dynamicfields').empty();
                    var currencies = ["ETH", "MLN", "BTC"];
                    var counter = 0;
                    result.forEach(element => {
                        console.log("AVG for" + currencies[counter] + "is" + element);
                        showAssets(currencies[counter], element);
                        counter += 1;
                    });


                    /* showAssets("ETH", 0.6);
                    showAssets("MLN", 0.4);
                    showAssets("BTC", 0.6);*/
                },
                error: function(result) {
                    alert('error');
                }
            });
        }

        function getChannelOptions() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://localhost:3000/channels",
                timeout: 1000,
                success: function (result) {
                    if (result != undefined) {
                        $('#dynamicfields').empty();
                        generateOptions(result);
                    }
                },
                error: function (parsedjson, textStatus, errorThrown) {
                    console.log("getEnergyProd: error");
                }
            });
        }

        function generateOptions(data){
            for(var element in data){
                addEntry(data[element]);
            }
        }
        function showAssets(shortcode,value){
           
            if(value > 0.6){
                var htmlElement = generateHTML(shortcode, "btn-success");
            } else{
                var htmlElement = generateHTML(shortcode, "btn-danger");
            }
            var newRow = $(htmlElement);
            
            $('#dynamicfields').prepend(newRow);
            newRow.fadeIn(1000);
        }

        function addEntry(optionName) {
            var htmlElement = generateHTML(optionName, "btn-default");
            var newRow = $(htmlElement);
            $('#dynamicfields').prepend(newRow);
            newRow.fadeIn(1000);
        }

        function generateHTML(id, cssClass) {
            var newRow = `<div class="[ form-group ]">
                            <input type="checkbox" name="${id}" id="${id}"  />
                            <div class="[ btn-group ]">
                                <label for="${id}" class="[ btn ${cssClass} ]">
                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                    <span> </span>
                                </label>
                                <label for="${id}" class="[ btn ${cssClass} active ] channel-option">
                                    ${id}
                                </label>
                            </div>
                        </div>
                `;
            return newRow;
        }

       

    

  
        // -------------------


    </script>
</head>

<body>
    <!--main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center col-xs-4 col-xs-offset-4">
                    <div class="robot-head">
                        
                        <div class="form-inline">
                            <label for="usrlimit">Limit:</label>
                           <input type="text" class="form-control" id="usrlimit">
                         </div>
                    </div>
                    <div class="robot-body">
                        <span id="dynamicfields"></span>
                    </div>
                    <div class="text-center robot-bottom">
                        <form method="post">
                            <button id="startbutton" type="button" class="btn btn-primary">
                                TURN ON
                            </button>
                        </form>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</body>

</html>